
# Padviram HR Backend - Firebase Environment Example

FIREBASE_API_KEY=your_api_key
FIREBASE_AUTH_DOMAIN=padviram-hr.firebaseapp.com
FIREBASE_PROJECT_ID=padviram-hr
FIREBASE_STORAGE_BUCKET=padviram-hr.appspot.com
FIREBASE_MESSAGING_SENDER_ID=your_sender_id
FIREBASE_APP_ID=your_app_id
